@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./components/tweet.css";

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: black;
  color: white;
}

.dark ::selection {
  background-color: white;
  color: black;
}

.dark {
  background-color: #0a0a0a;
}

html {
  min-width: 360px;
}

.prose {
  @apply text-black dark:text-white;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-3 decoration-[0.1em] font-normal text-[#000000] dark:text-[#FFFFFF];
}

.prose a:hover {
  @apply dark:decoration-neutral-400 decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose strong {
  @apply font-medium;
}

.prose .callout > p {
  margin: 0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-quoteless blockquote p:first-of-type::before,
.prose-quoteless blockquote p:first-of-type::after {
  content: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

/* Shiki codeblocks */
.prose pre {
  @apply bg-[#F7F7F7] dark:bg-[#171717] border border-gray-300 dark:border-[#262626] rounded-lg overflow-x-auto leading-snug;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}

/* Shiki Transformers */
.shiki .line.highlighted {
  @apply bg-[#e0e0e0];
}

html.dark .shiki .line.highlighted {
  @apply bg-[#353535];
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
