@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./components/tweet.css";

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: black;
  color: white;
}

.dark ::selection {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
}

html {
  min-width: 360px;
}

.prose {
  @apply text-[#000000] dark:text-[#FFFFFF];
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose h1 {
  @apply text-2xl font-semibold;
}

.prose h2 {
  @apply text-xl font-medium mb-4;
}

.prose h3 {
  @apply text-lg font-medium mb-4;
}

.prose h4 {
  @apply text-base font-medium;
}

.prose a {
  @apply transition-all decoration-black dark:decoration-white underline-offset-4 font-normal;
}

.prose a:hover {
  @apply text-neutral-600 dark:text-neutral-400 dark:decoration-neutral-400 decoration-neutral-600;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose strong {
  @apply font-medium;
}

.prose .callout > p {
  margin: 0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-quoteless blockquote p:first-of-type::before,
.prose-quoteless blockquote p:first-of-type::after {
  content: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

/* Shiki codeblocks */
.prose pre {
  @apply bg-[#F1F1F1] dark:bg-[#1F1F1F] rounded-lg overflow-x-auto leading-snug;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}

/* Shiki Transformers */
.shiki .line.highlighted {
  @apply bg-[#e0e0e0];
}

html.dark .shiki .line.highlighted {
  @apply bg-[#353535];
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
